services:
  app:
    build:
      context: .
      target: server
    container_name: order_management_service
    restart: unless-stopped
    ports:
     - ${GATEWAY_PORT}:${GATEWAY_PORT}
    depends_on:
      migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
        
  migrate:
    build: 
      context: .
      target: migration
    container_name: server_migrate
    command: ["-command", "up"]
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:${POSTGRES_VERSION}
    restart: always
    container_name: postgres_container
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "sh -c \"pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}\""]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:${REDIS_VERSION}
    restart: always
    container_name: redis_container
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command:
     - redis-server 
     - --requirepass ${REDIS_PASSWORD}
     - --maxmemory ${REDIS_MAX_MEMORY}
    healthcheck:
      test: ["CMD-SHELL", "sh -c \"redis-cli -a $${REDIS_PASSWORD} ping\""]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres_data:
    