// порт, на котором запускается grpc-сервер
GRPC_PORT="50051" 

// порт, на котором запускается grpc-gateway
GATEWAY_PORT="8080"

// уровень логирования ("dev" - разработка, "prod" - выпуск в прод, без ненужных логов)
ENV="dev" 