// порт, на котором запускается grpc-сервер
GRPC_PORT="50051" 

// порт, на котором запускается grpc-gateway
GATEWAY_PORT="8080"

// уровень логирования ("dev" - разработка, "prod" - выпуск в прод, без ненужных логов)
ENV="dev" 

// настройки конфигурации базы данных PostgreSQL
POSTGRES_HOST="postgres"
POSTGRES_VERSION="15-alpine"
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_PORT="5432"

// настройки конфигурации кэша Redis
REDIS_HOST="redis"
REDIS_VERSION="8.0-alpine"
REDIS_PASSWORD="redis"
REDIS_PORT="6379"
REDIS_MAX_MEMORY="256mb"